@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using Microsoft.AspNetCore.Mvc.Localization
@model SchoolRegister.ViewModels.VM.CreateEmailVm

@{
    ViewData["Title"] = SharedLocalizer["Send Email"];
}

<h1>ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SenderId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                 <label asp-for="RecipientId" class="control-label"></label>
                <select asp-for="RecipientId" class="form-control" asp-items="@ViewBag.RecipientsSelectList"></select>
                <span asp-validation-for="RecipientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
