@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using Microsoft.AspNetCore.Mvc.Localization
@model SchoolRegister.ViewModels.VM.AttachStudentToGroupVm

@{
    ViewData["Title"] = ViewData["Title"] = string.Format(Localizer["Attach {0} to Group"].Value, ViewBag.StudentName);
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AttachStudentToGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="StudentId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Group</label>
                <select asp-for="GroupId" class="form-control" asp-items="@ViewBag.GroupsSelectList"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Attach"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back to list"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
